* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(19, 18, 18);
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar .logo {
  width: 40%;
  /* background-color: rgb(19, 18, 18); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navLinks {
  width: 60%;
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  list-style: none;
}

.navbar .navLinkCss {
  color: white;
  text-decoration: none;
}

.pageName {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}